$text-primary: #000000;
$text-secondary: #666666;
$text-tertiary: #ffffff;
$bg-primary: #F2F2F2;
$content: #1698D9;
$content-hover: #22A7E9;
$content-selected: #D91667;
$content-selected-hover: #E52E7A;
$content-disabled: #B3B3B3;
